{% extends "layout.html" %}

{% block main %}

<form action="/register" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" placeholder="Username" type="text" id="user" name="username"> {{ enter_username }}
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" placeholder="Password" type="password" id="pass" name="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" placeholder="Confirm password" type="password" id="pass" name="confirmation">
    </div> <br>
    <div id="password-error">{{ error }} </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


{% endblock %}
